.plausible-opt-out {
	background-color: #36c;
	border: solid 1px #36c;
	color: #fff;
	padding: 0.5rem;
	cursor: pointer;

	&:hover {
		background-color: #447ff5;
		border-color: #447ff5;
	}

	&:active {
		background-color: #2a4b8d;
		border-color: #2a4b8d;
	}
}
